:root {
  --fontFamily: 'Roboto', sans-serif;
  --containerWidth: 1200px;
  --headingSize: 32px;
  --bodySize: 18px;
  --red: #EF476F;
  --green: #06D6A0;
  --blue: #26547C;
  --yellow: #FFD166;
  --white: #FFFCF9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--white);
  font-family: var(--fontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  max-width: var(--containerWidth);
}

h1 {
  line-height: 1.5;
  font-weight: 600;
  font-size: var(--headingSize);
}

p {
  line-height: 1.5;
  font-weight: 400;
  font-size: var(--bodySize);
}

.category-title {
  font-size: var(--bodySize);
  border-radius: 4px 4px 0 0;
  padding: 10px;
  margin: 10px 0 0px 0;
  display: block;
  background: #e6e6e6;
  span {
    opacity: .3;
    font-weight: 300;
    font-size: 13px;
    position: relative;
    top: -2px;
  }
}

.table-view {
  display: flex;
  flex-direction: row;
  &__row {
    width: 100%;
    border: 1px solid #e6e6e6;
    display: flex;
  }
  &__column {
    padding: 10px;
    border-right: 1px solid #c7c7c7;
    width: 50%;
    &:last-child {
      border: none;
    }
    a {
      color: var(--blue);
      display: block;
      font-size: var(--bodySize);
      line-height: 24px;
  }
  }
}

hr {
  opacity: .3;
}

.form {
  display: flex;
  margin-bottom: 20px;
  &__select {
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    box-sizing: border-box;
    label {
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 10px;
    }
    .select {
      background: var(--yellow);
      padding: 5px 15px 5px 10px;
      border-radius: 5px;
      select {
        width: 100%;
        height: 50px;
        border: none;
        font-size: 15px;
        background: transparent;
      }
    }
  }
}

.is-list-open {
  display: none;
  &.yes {
    display: block;
  }
  span {
    text-transform: capitalize;
  }
}